/* ---- Contact ----*/

                                    /* (320px - 480px) */
                    /* ✅ Mobile Devices (320px - 480px) */

                    @media screen and (max-width: 480px) {

                      .con{
                        background: linear-gradient(to right, #d7d2cc, #ac6167);
                        /* background: linear-gradient(to right, #de1b1b,#d7d2cc); */  
                        /* background: linear-gradient(to right, #ffffff,#ff018c, #98f57e); */
                        /* background: linear-gradient(to right, #ffffff,#ff008bba, #98f57e); */
                        padding: 50px;
                      }
                      
                      .con_1 h1{
                        font-size: 2.551rem;
                          color: #333;
                          text-align: center;
                      }
                      
                      .Con_2 {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;
                      }
                      
                      .contact {
                        max-width: 318px;
                        margin: 50px -25px 50px -25px;
                        padding: 30px 10px 30px 10px;
                          border-radius: 8px;
                          box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
                          background-color: #ebe7b3;
                          display: flex;
                          flex-direction: column;
                          align-items: center;
                        }
                      
                        .contact:hover {
                          transform: translateY(-20px);
                          color: #333;
                          transition: transform 0.3s ease, color 0.3s ease;
                      }
                        
                        .contact h1 {
                          font-size: 2.5rem;
                          text-align: center;
                          margin-bottom: 20px;
                          color: #333;
                        }
                      
                        form.contact_form {
                          width: 250px;
                      }
                        
                        .contact_form label {
                          font-size: 1.3rem;
                          display: block;
                          margin-bottom: 15px;
                          font-weight: bold;
                          color: #444;
                        }
                        
                        .contact_form input,
                        .contact_form textarea {
                          width: 100%;
                          padding: 0px;
                          margin-top: 5px;
                          border: 1px solid #aaa;
                          border-radius: 5px;
                          font-size: 1.3rem;
                        }
                  
                        button.btn_4 {
                          margin: 10px 71px 10px 71px;
                          text-align: center;
                        }
                        
                        .btn_4 {
                          margin-top: 20px;
                          padding: 12px 25px;
                          background-color: #f43d37;
                          color: white;
                          font-size: 1.5rem;
                          border: none;
                          border-radius: 25px;
                          cursor: pointer;
                          transition: background 0.3s ease;
                        }
                        
                        .btn_4:hover {
                          background-color: #d93025;
                        }
                      
                        
                      .social-icons {
                          display: flex;
                          justify-content: center;
                          gap: 0px 50px;
                          margin: 50px 0px;
                        }
                        
                        .icon {
                          font-size: 3.5rem;
                          color: #333;
                          transition: transform 0.2s ease;
                        }
                      
                        .icon_1 {
                          display: inline-grid;
                          justify-content: center;
                          gap: 50px;
                      }
                        
                        .icon:hover {
                          transform: scale(1.2);
                          /* color: #00aced; */
                          color: #ffffff;
                          transform: translateY(-20px);
                          transition: transform 0.3s ease, color 0.3s ease;
                      
                        }
                      
                        .btn_5 {
                          margin: 70px 0px 0px 0px;
                          display: flex;
                          gap: 0px 10px;
                          justify-content: center;
                          padding: 0px 0px 0px 0px;
                        }
                        
                      .btn_5 button {
                        padding: 10px 10px;
                        background-color: #f43d37;
                        border: none;
                        color: white;
                        font-size: 1rem;
                        border-radius: 25px;
                        cursor: pointer;
                      }
                      
                      .btn_5 button:hover {
                        background-color: #d93b2c;
                      }
                    }
                  
                                                /* (320px - 480px) */
                                      /* ✅ Mobile Devices (320px - 480px) */
                  
                                                /* (481px - 768px) */
                                      /* ✅ Tablets & iPads (481px - 768px) */
                    
                    @media screen and (min-width: 481px) and (max-width: 768px) {
                  
                      .con{
                        /* background: linear-gradient(to right, #de1b1b,#d7d2cc); */  
                        /* background: linear-gradient(to right, #ffffff,#ff018c, #98f57e); */
                        background: linear-gradient(to right, #ffffff,#ff008bba, #98f57e);
                        padding: 50px;
                      }
                      
                      .con_1 h1{
                        font-size: 3rem;
                          color: #333;
                          text-align: center;
                      }
                      
                      .Con_2 {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;
                  
                      }
                      
                      .contact {
                          max-width: 600px;
                          margin: 50px 20px 50px 20px;
                          padding: 30px 30px 30px 30px;
                          border-radius: 8px;
                          box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
                          background-color: #ebe7b3;
                          display: flex;
                          flex-direction: column;
                          align-items: center;
                        }
                      
                        .contact:hover {
                          transform: translateY(-20px);
                          color: #333;
                          transition: transform 0.3s ease, color 0.3s ease;
                      }
                        
                        .contact h1 {
                          font-size: 2.5rem;
                          text-align: center;
                          margin-bottom: 20px;
                          color: #333;
                        }
                      
                        form.contact_form {
                          width: 330px;
                      }
                        
                        .contact_form label {
                          font-size: 1.3rem;
                          display: block;
                          margin-bottom: 15px;
                          font-weight: bold;
                          color: #444;
                        }
                        
                        .contact_form input,
                        .contact_form textarea {
                          width: 100%;
                          padding: 10px 0px;
                          margin-top: 5px;
                          border: 1px solid #aaa;
                          border-radius: 5px;
                          font-size: 1.3rem;
                        }
                        
                        button.btn_4 {
                          margin: 10px 110px 10px 110px;
                          text-align: center;
                        }
                  
                        .btn_4 {
                          margin-top: 20px;
                          padding: 12px 25px;
                          background-color: #f43d37;
                          color: white;
                          font-size: 1.5rem;
                          border: none;
                          border-radius: 25px;
                          cursor: pointer;
                          transition: background 0.3s ease;
                        }
                        
                        .btn_4:hover {
                          background-color: #d93025;
                        }
                      
                        
                      .social-icons {
                          display: flex;
                          justify-content: center;
                          gap: 0px 100px;
                          margin: 50px 0px;
                        }
                        
                        .icon {
                          font-size: 3.5rem;
                          color: #333;
                          transition: transform 0.2s ease;
                        }
                      
                        .icon_1 {
                          display: inline-grid;
                          justify-content: center;
                          gap: 50px;
                      }
                        
                        .icon:hover {
                          transform: scale(1.2);
                          /* color: #00aced; */
                          color: #ffffff;
                          transform: translateY(-20px);
                          transition: transform 0.3s ease, color 0.3s ease;
                      
                        }
                      
                        .btn_5 {
                          margin: 70px 0px 0px 0px;
                          display: flex;
                          gap: 0px 20px;
                          justify-content: center;
                          padding: 0px 0px 0px 0px;
                        }
                        
                      .btn_5 button {
                        padding: 10px 20px;
                        background-color: #f43d37;
                        border: none;
                        color: white;
                        font-size: 1.1rem;
                        border-radius: 25px;
                        cursor: pointer;
                      }
                      
                      .btn_5 button:hover {
                        background-color: #d93b2c;
                      }
                    }
                  
                                                /* (481px - 768px) */
                                      /* ✅ Tablets & iPads (481px - 768px) */
                  
                                                /* (769px - 1024px) */
                                      /* ✅ Small Screens, Laptops (769px - 1024px) */
                  
                    @media screen and (min-width: 769px) and (max-width: 1024px) {
                    
                      .con{
                        /* background: linear-gradient(to right, #de1b1b,#d7d2cc); */  
                        /* background: linear-gradient(to right, #ffffff,#ff018c, #98f57e); */
                        background: linear-gradient(to right, #ffffff,#ff008bba, #98f57e);
                        padding: 50px;
                      }
                      
                      .con_1 h1{
                        font-size: 3rem;
                          color: #333;
                          text-align: center;
                      }
                      
                      .Con_2 {
                        display: flex;
                        justify-content: space-evenly;
                        flex-direction: column;
                        align-items: center;
                      }
                      
                      .contact {
                          max-width: 600px;
                          /* width: 600px; */
                          margin: 50px 50px 50px 50px;
                          padding: 30px 50px 30px 50px;
                          border-radius: 8px;
                          box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
                          background-color: #ebe7b3;
                          display: flex;
                          flex-direction: column;
                          align-items: center;
                        }
                      
                        .contact:hover {
                          transform: translateY(-20px);
                          color: #333;
                          transition: transform 0.3s ease, color 0.3s ease;
                      }
                        
                        .contact h1 {
                          font-size: 2.5rem;
                          text-align: center;
                          margin-bottom: 20px;
                          color: #333;
                        }
                      
                        form.contact_form {
                          width: 530px;
                      }
                        
                        .contact_form label {
                          font-size: 1.3rem;
                          display: block;
                          margin-bottom: 15px;
                          font-weight: bold;
                          color: #444;
                        }
                        
                        .contact_form input,
                        .contact_form textarea {
                          width: 100%;
                          padding: 10px 0px 0px 0px;
                          margin-top: 5px;
                          border: 1px solid #aaa;
                          border-radius: 5px;
                          font-size: 1.3rem;
                        }
                        
                        button.btn_4 {
                          margin: 10px 210px 10px 210px;
                          text-align: center;
                        }
                  
                        .btn_4 {
                          margin-top: 20px;
                          padding: 12px 25px;
                          background-color: #f43d37;
                          color: white;
                          font-size: 1.5rem;
                          border: none;
                          border-radius: 25px;
                          cursor: pointer;
                          transition: background 0.3s ease;
                        }
                        
                        .btn_4:hover {
                          background-color: #d93025;
                        }
                      
                        
                      .social-icons {
                          display: flex;
                          justify-content: center;
                          gap: 0px 150px;
                          margin: 50px 0px;
                        }
                        
                        .icon {
                          font-size: 3.5rem;
                          color: #333;
                          transition: transform 0.2s ease;
                        }
                      
                        .icon_1 {
                          display: inline-grid;
                          justify-content: center;
                          gap: 50px;
                      }
                        
                        .icon:hover {
                          transform: scale(1.2);
                          /* color: #00aced; */
                          color: #ffffff;
                          transform: translateY(-20px);
                          transition: transform 0.3s ease, color 0.3s ease;
                      
                        }
                      
                        .btn_5 {
                          margin: 70px 0px 0px 0px;
                          display: flex;
                          gap: 0px 20px;
                          justify-content: center;
                          padding: 0px 0px 0px 0px;
                        }
                        
                      .btn_5 button {
                        padding: 10px 20px;
                        background-color: #f43d37;
                        border: none;
                        color: white;
                        font-size: 1.5rem;
                        border-radius: 25px;
                        cursor: pointer;
                      }
                      
                      .btn_5 button:hover {
                        background-color: #d93b2c;
                      }
                    }
                  
                                                /* (769px - 1024px) */
                                      /* ✅ Small Screens, Laptops (769px - 1024px) */
                  
                                                /* (1025px - 1200px) */
                                      /* ✅ Desktops & Large Screens (1025px - 1200px) */
                    
                    @media screen and (min-width: 1025px) and (max-width: 1200px) {
                  
                      .con{
                        /* background: linear-gradient(to right, #de1b1b,#d7d2cc); */  
                        /* background: linear-gradient(to right, #ffffff,#ff018c, #98f57e); */
                        background: linear-gradient(to right, #ffffff,#ff008bba, #98f57e);
                        padding: 50px;
                      }
                      
                      .con_1 h1{
                        font-size: 3rem;
                          color: #333;
                          text-align: center;
                      }
                      
                      .Con_2 {
                        display: flex;
                        justify-content: space-evenly;
                        flex-direction: row;
                      }
                      
                      .contact {
                          max-width: 600px;
                          margin: 50px 50px 50px -30px;
                          padding: 30px 50px 30px 30px;
                          border-radius: 8px;
                          box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
                          background-color: #ebe7b3;
                          display: flex;
                          flex-direction: column;
                          align-items: center;
                        }
                      
                        .contact:hover {
                          transform: translateY(-20px);
                          color: #333;
                          transition: transform 0.3s ease, color 0.3s ease;
                      }
                        
                        .contact h1 {
                          font-size: 2.5rem;
                          text-align: center;
                          margin-bottom: 20px;
                          color: #333;
                        }
                      
                        form.contact_form {
                          width: 530px;
                      }
                        
                        .contact_form label {
                          font-size: 1.3rem;
                          display: block;
                          margin-bottom: 15px;
                          font-weight: bold;
                          color: #444;
                        }
                        
                        .contact_form input,
                        .contact_form textarea {
                          width: 100%;
                          padding: 10px;
                          margin-top: 5px;
                          border: 1px solid #aaa;
                          border-radius: 5px;
                          font-size: 1.3rem;
                        }
                        
                        button.btn_4 {
                          margin: 10px 225px 10px 225px;
                          text-align: center;
                        }
                  
                        .btn_4 {
                          margin-top: 20px;
                          padding: 12px 25px;
                          background-color: #f43d37;
                          color: white;
                          font-size: 1.3rem;
                          border: none;
                          border-radius: 25px;
                          cursor: pointer;
                          transition: background 0.3s ease;
                        }
                        
                        .btn_4:hover {
                          background-color: #d93025;
                        }
                      
                        
                      .social-icons {
                          display: flex;
                          justify-content: center;
                          gap: 100px;
                          margin: 240px 0;
                        }
                        
                        .icon {
                          font-size: 3.5rem;
                          color: #333;
                          transition: transform 0.2s ease;
                        }
                      
                        .icon_1 {
                          display: inline-grid;
                          justify-content: center;
                      }
                        
                        .icon:hover {
                          transform: scale(1.2);
                          /* color: #00aced; */
                          color: #ffffff;
                          transform: translateY(-20px);
                          transition: transform 0.3s ease, color 0.3s ease;
                      
                        }
                      
                        .btn_5 {
                          margin: 70px 0px 0px 0px;
                          display: flex;
                          gap: 0px 20px;
                          justify-content: center;
                          padding: 0px 0px 0px 0px;
                        }
                        
                      .btn_5 button {
                        padding: 10px 20px;
                        background-color: #f43d37;
                        border: none;
                        color: white;
                        font-size: 1.3rem;
                        border-radius: 25px;
                        cursor: pointer;
                      }
                      
                      .btn_5 button:hover {
                        background-color: #d93b2c;
                      }
                    }                  
                  
                                                /* (1025px - 1200px) */
                                      /* ✅ Desktops & Large Screens (1025px - 1200px) */
                  
                                                /* (1201px and above) */
                                      /* ✅ Extra Large Screens (1201px and above) */
                                                             
                   
                    @media screen and (min-width: 1201px) {
                  
                      .con{
                        /* background: linear-gradient(to right, #de1b1b,#d7d2cc); */  
                        /* background: linear-gradient(to right, #ffffff,#ff018c, #98f57e); */
                        background: linear-gradient(to right, #ffffff,#ff008bba, #98f57e);
                        padding: 50px;
                      }
                      
                      .con_1 h1{
                        font-size: 3rem;
                          color: #333;
                          text-align: center;
                      }
                      
                      .Con_2 {
                        display: flex;
                        justify-content: space-evenly;
                        flex-direction: row;
                      }
                      
                      .contact {
                          max-width: 600px;
                          margin: 50px 50px 50px 0px;
                          padding: 30px 50px 30px 30px;
                          border-radius: 8px;
                          box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
                          background-color: #ebe7b3;
                          display: flex;
                          flex-direction: column;
                          align-items: center;
                        }
                      
                        .contact:hover {
                          transform: translateY(-20px);
                          color: #333;
                          transition: transform 0.3s ease, color 0.3s ease;
                      }
                        
                        .contact h1 {
                          text-align: center;
                          margin-bottom: 20px;
                          color: #333;
                        }
                      
                        form.contact_form {
                          width: 600px;
                      }
                        
                        .contact_form label {
                          display: block;
                          margin-bottom: 15px;
                          font-weight: bold;
                          color: #444;
                        }
                        
                        .contact_form input,
                        .contact_form textarea {
                          width: 100%;
                          padding: 10px;
                          margin-top: 5px;
                          border: 1px solid #aaa;
                          border-radius: 5px;
                          font-size: 1rem;
                        }
                  
                        button.btn_4 {
                          margin: 10px 267px 10px 267px;
                          text-align: center;
                        }
                        
                        .btn_4 {
                          margin-top: 40px;
                          padding: 12px 25px;
                          background-color: #f43d37;
                          color: white;
                          font-size: 1rem;
                          border: none;
                          border-radius: 25px;
                          cursor: pointer;
                          transition: background 0.3s ease;
                        }
                        
                        .btn_4:hover {
                          background-color: #d93025;
                        }
                      
                        
                      .social-icons {
                          display: flex;
                          justify-content: center;
                          gap: 130px;
                          margin: 240px 0;
                        }
                        
                        .icon {
                          font-size: 40px;
                          color: #333;
                          transition: transform 0.2s ease;
                        }
                      
                        .icon_1 {
                          display: inline-grid;
                          justify-content: center;
                      }
                        
                        .icon:hover {
                          transform: scale(1.2);
                          /* color: #00aced; */
                          color: #ffffff;
                          transform: translateY(-20px);
                          transition: transform 0.3s ease, color 0.3s ease;
                      
                        }
                      
                        .btn_5 {
                          margin: 70px 0px 0px 0px;
                          display: flex;
                          gap: 0px 20px;
                          justify-content: center;
                          padding: 0px 0px 0px 0px;
                        }
                        
                      .btn_5 button {
                        padding: 10px 20px;
                        background-color: #f43d37;
                        border: none;
                        color: white;
                        font-size: 1rem;
                        border-radius: 25px;
                        cursor: pointer;
                      }
                      
                      .btn_5 button:hover {
                        background-color: #d93b2c;
                      }
                    }
                  
                                                /* (1201px and above) */
                                      /* ✅ Extra Large Screens (1201px and above) */ 
                                                      /* ---- Contact ----*/