/* ---- Skills ----*/
                                    /* (320px - 480px) */
                    /* ✅ Mobile Devices (320px - 480px) */

                    @media screen and (max-width: 480px) {

                      .skills-page {
                        padding: 50px;
                        text-align: center;
                        /* background: linear-gradient(to right, #d7d2cc, #ac6167); */  
                        /* background: linear-gradient(to right, #f48686, #4fcd2d, #ffffff); */
                        /* background: linear-gradient(to right, #f48686,  #85ee68, #ffffff); */
                        background: linear-gradient(to right, #d7d2cc, #ac6167);
                      
                      }
                      .skills-page h1{
                        font-size: 3rem;
                          color: #333;
                          text-align: center;
                          margin-bottom: 100px;
                      }
                      
                      .skills-container_1 {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        gap: 100px;
                        margin: 0px 0px 100px 0px;
                      }
                      
                      .skills-container_2 {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        gap: 100px;
                      }
                      
                      .skill-box:hover {
                        transform: translateY(-20px);
                        color: #333;
                        transition: transform 0.3s ease, color 0.3s ease;
                      }
                      
                      .skill-box {
                        background: #ebe7b3;
                        /* background: linear-gradient(to right, #ac6167, #d7d2cc); */
                        padding: 0px;
                        width: 220px;
                        /* height: 275px; */
                        border-radius: 12px;
                        box-shadow: 0 0 10px rgba(0,0,0,0.1);
                      }
                      
                      .skill-box h2 {
                        font-size: 2rem;
                        margin-bottom: 25px;
                        color: #333;
                      }
                      
                      .skill-box ul {
                        list-style-type: none;
                        justify-content: center;
                        display: grid;
                          gap: 20px;
                          justify-content: center;
                          text-align: center;
                          padding: 0px 0px 0px 0px;
                          font-size: 1.3rem;
                          flex-direction: column;
                      }
                      
                      .btn_6 {
                        margin: 100px 0px 0px 0px;
                        display: flex;
                        gap: 0px 10px;
                        justify-content: center;
                        padding: 0px 0px 0px 0px;
                      }
                      
                      .btn_6 button {
                      padding: 10px 10px;
                      background-color: #f43d37;
                      border: none;
                      color: white;
                      font-size: 1rem;
                      border-radius: 25px;
                      cursor: pointer;
                      }
                      
                      .btn_6 button:hover {
                      background-color: #d93b2c;
                      }
                      
                    }
                  
                                                /* (320px - 480px) */
                                      /* ✅ Mobile Devices (320px - 480px) */
                  
                                                /* (481px - 768px) */
                                      /* ✅ Tablets & iPads (481px - 768px) */
                    
                    @media screen and (min-width: 481px) and (max-width: 768px) {
                  
                      .skills-page {
                        padding: 50px;
                        text-align: center;
                        /* background: linear-gradient(to right, #d7d2cc, #ac6167); */  
                        /* background: linear-gradient(to right, #f48686, #4fcd2d, #ffffff); */
                        background: linear-gradient(to right, #f48686,  #85ee68, #ffffff);
                      
                      }
                      .skills-page h1{
                        font-size: 3rem;
                          color: #333;
                          text-align: center;
                          margin-bottom: 100px;
                      }
                      
                      .skills-container_1 {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        gap: 100px;
                        margin: 0px 0px 100px 0px;
                      }
                      
                      .skills-container_2 {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        gap: 100px;
                      }
                      
                      .skill-box:hover {
                        transform: translateY(-20px);
                        color: #333;
                        transition: transform 0.3s ease, color 0.3s ease;
                      }
                      
                      .skill-box {
                        background: #ebe7b3;
                        /* background: linear-gradient(to right, #ac6167, #d7d2cc); */
                        padding: 33px;
                        width: 220px;
                        /* height: 150px; */
                        border-radius: 12px;
                        box-shadow: 0 0 10px rgba(0,0,0,0.1);
                      }
                      
                      .skill-box h2 {
                        font-size: 2rem;
                        margin-bottom: 25px;
                        color: #333;
                      }
                      
                      .skill-box ul {
                        list-style-type: none;
                        justify-content: center;
                        display: grid;
                          gap: 20px;
                          justify-content: center;
                          text-align: center;
                          padding: 0px 0px 0px 0px;
                          font-size: 1.3rem;
                          flex-direction: column;
                      }
                      
                      .btn_6 {
                        margin: 100px 0px 0px 0px;
                        display: flex;
                        gap: 0px 20px;
                        justify-content: center;
                        padding: 0px 0px 0px 0px;
                      }
                      
                      .btn_6 button {
                      padding: 10px 20px;
                      background-color: #f43d37;
                      border: none;
                      color: white;
                      font-size: 1.1rem;
                      border-radius: 25px;
                      cursor: pointer;
                      }
                      
                      .btn_6 button:hover {
                      background-color: #d93b2c;
                      }
                      
                    }
                  
                                                /* (481px - 768px) */
                                      /* ✅ Tablets & iPads (481px - 768px) */
                  
                                                /* (769px - 1024px) */
                                      /* ✅ Small Screens, Laptops (769px - 1024px) */
                  
                    @media screen and (min-width: 769px) and (max-width: 1024px) {
                  
                      .skills-page {
                        padding: 50px;
                        text-align: center;
                        /* background: linear-gradient(to right, #d7d2cc, #ac6167); */  
                        /* background: linear-gradient(to right, #f48686, #4fcd2d, #ffffff); */
                        background: linear-gradient(to right, #f48686,  #85ee68, #ffffff);
                      
                      }
                      .skills-page h1{
                        font-size: 3rem;
                          color: #333;
                          text-align: center;
                          margin-bottom: 100px;
                      }
                      
                      .skills-container_1 {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        gap: 100px;
                        margin: 0px 0px 100px 0px;
                      }
                      
                      .skills-container_2 {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        gap: 100px;
                      }
                      
                      .skill-box:hover {
                        transform: translateY(-20px);
                        color: #333;
                        transition: transform 0.3s ease, color 0.3s ease;
                      }
                      
                      .skill-box {
                        background: #ebe7b3;
                        /* background: linear-gradient(to right, #ac6167, #d7d2cc); */
                        padding: 50px;
                        width: 250px;
                        /* height: 150px; */
                        border-radius: 12px;
                        box-shadow: 0 0 10px rgba(0,0,0,0.1);
                      }
                      
                      .skill-box h2 {
                        font-size: 2rem;
                        margin-bottom: 25px;
                        color: #333;
                      }
                      
                      .skill-box ul {
                        font-size: 1.3rem;
                        color: #000000;
                        list-style-type: none;
                        justify-content: center;
                        display: flex;
                          gap: 20px;
                          justify-content: center;
                          text-align: center;
                          padding: 0px 0px 0px 0px;
                          flex-direction: column;
                          
                      }
                      
                      .btn_6 {
                        margin: 100px 0px 0px 0px;
                        display: flex;
                        gap: 0px 20px;
                        justify-content: center;
                        padding: 0px 0px 0px 0px;
                      }
                      
                      .btn_6 button {
                      padding: 10px 20px;
                      background-color: #f43d37;
                      border: none;
                      color: white;
                      font-size: 1.5rem;
                      border-radius: 25px;
                      cursor: pointer;
                      }
                      
                      .btn_6 button:hover {
                      background-color: #d93b2c;
                      }
                      
                    }
                  
                                                /* (769px - 1024px) */
                                      /* ✅ Small Screens, Laptops (769px - 1024px) */
                  
                                                /* (1025px - 1200px) */
                                      /* ✅ Desktops & Large Screens (1025px - 1200px) */
                    
                    @media screen and (min-width: 1025px) and (max-width: 1200px) {
                  
                      .skills-page {
                        padding: 50px;
                        text-align: center;
                        /* background: linear-gradient(to right, #d7d2cc, #ac6167); */  
                        /* background: linear-gradient(to right, #f48686, #4fcd2d, #ffffff); */
                        background: linear-gradient(to right, #f48686,  #85ee68, #ffffff);
                      
                      }
                      .skills-page h1{
                        font-size: 3rem;
                          color: #333;
                          text-align: center;
                          margin-bottom: 100px;
                      }
                      
                      .skills-container_1 {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        gap: 0px 80px;
                        margin: 0px 0px 100px 0px;
                      }
                      
                      .skills-container_2 {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        gap: 0px 80px;
                        margin: 0px 0px 100px 0px;
                      }
                      
                      .skill-box:hover {
                        transform: translateY(-20px);
                        color: #333;
                        transition: transform 0.3s ease, color 0.3s ease;
                      }
                      
                      .skill-box {
                        background: #ebe7b3;
                        /* background: linear-gradient(to right, #ac6167, #d7d2cc); */
                        padding: 50px;
                        width: 200px;
                        border-radius: 12px;
                        box-shadow: 0 0 10px rgba(0,0,0,0.1);
                      }
                      
                      .skill-box h2 {
                        font-size: 2rem;
                        margin-bottom: 25px;
                        color: #333;
                      }
                      
                      .skill-box ul {
                        font-size: 1.3rem;
                          color: #000000;
                          list-style-type: none;
                          display: flex;
                          gap: 10px;
                          justify-content: center;
                          text-align: center;
                          padding: 0px 0px 0px 0px;
                          flex-direction: column;
                      }
                      
                      .btn_6 {
                        margin: 100px 0px 0px 0px;
                        display: flex;
                        gap: 0px 20px;
                        justify-content: center;
                        padding: 0px 0px 0px 0px;
                      }
                      
                      .btn_6 button {
                      padding: 10px 20px;
                      background-color: #f43d37;
                      border: none;
                      color: white;
                      font-size: 1.3rem;
                      border-radius: 25px;
                      cursor: pointer;
                      }
                      
                      .btn_6 button:hover {
                      background-color: #d93b2c;
                      }
                      
                    }                  
                  
                                                /* (1025px - 1200px) */
                                      /* ✅ Desktops & Large Screens (1025px - 1200px) */
                  
                                                /* (1201px and above) */
                                      /* ✅ Extra Large Screens (1201px and above) */
                                                             
                   
                    @media screen and (min-width: 1201px) {
                    
                      .skills-page {
                        padding: 50px;
                        text-align: center;
                        /* background: linear-gradient(to right, #d7d2cc, #ac6167); */  
                        /* background: linear-gradient(to right, #f48686, #4fcd2d, #ffffff); */
                        background: linear-gradient(to right, #f48686,  #85ee68, #ffffff);
                      
                      }
                      .skills-page h1{
                        font-size: 3rem;
                          color: #333;
                          text-align: center;
                          margin-bottom: 100px;
                      }
                      
                      .skills-container_1 {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        gap: 0px 150px;
                        margin: 0px 0px 100px 0px;
                      }
                      
                      .skills-container_2 {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        gap: 0px 150px;
                      }
                      
                      .skill-box:hover {
                        transform: translateY(-20px);
                        color: #333;
                        transition: transform 0.3s ease, color 0.3s ease;
                      }
                      
                      .skill-box {
                        background: #ebe7b3;
                        /* background: linear-gradient(to right, #ac6167, #d7d2cc); */
                        padding: 50px;
                        width: 200px;
                        border-radius: 12px;
                        box-shadow: 0 0 10px rgba(0,0,0,0.1);
                      }
                      
                      .skill-box h2 {
                        font-size: 1.3rem;
                        margin-bottom: 25px;
                        color: #333;
                      }
                      
                      .skill-box ul {
                        font-size: 1rem;
                        color: #000000;
                        list-style-type: none;
                        justify-content: center;
                        display: flex;
                        gap: 10px;
                          justify-content: center;
                          text-align: center;
                          padding: 0px 0px 0px 0px;
                          flex-direction: column;
                      }
                  
                      .btn_6 {
                        margin: 100px 0px 0px 0px;
                        display: flex;
                        gap: 0px 20px;
                        justify-content: center;
                        padding: 0px 0px 0px 0px;
                      }
                      
                      .btn_6 button {
                      padding: 10px 20px;
                      background-color: #f43d37;
                      border: none;
                      color: white;
                      font-size: 1rem;
                      border-radius: 25px;
                      cursor: pointer;
                      }
                      
                      .btn_6 button:hover {
                      background-color: #d93b2c;
                      }
                      
                    }
                  
                                                /* (1201px and above) */
                                      /* ✅ Extra Large Screens (1201px and above) */            
                                                      /* ---- Skills ----*/